.Header {
    align-items: center;
    overflow: hidden;
}

.LogoMenuContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.FullSizeNavMenuContainer {
    display: none;
}

.bottomNavMenuContainer {
    display: none;
}

@media only screen and (min-width: 320px) {
    .bottomNavMenuContainer {
        display: flex;
    }

    .HamburgerMenuContainer {
        display: none;
    }
}

@media only screen and (min-width: 430px) {
    .HamburgerMenuContainer {
        display: flex;
    }

    .FullSizeNavMenuContainer {
        display: none;
    }

    .bottomNavMenuContainer {
        display: none;
    }

    .LogoMenuContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #f5f5f7d1;
        z-index: 1;
        box-sizing: border-box;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 64px;
        padding-right: 64px;
    }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1025px) {
    .HamburgerMenuContainer {
        display: none;
    }

    .FullSizeNavMenuContainer {
        display: flex;
    }

    .bottomNavMenuContainer {
        display: none;
    }

    .Header {
        margin-top: 32px;
    }
}