.welcomeSectionBackground {
    height: 600px;
    overflow: hidden;
    background: linear-gradient(90deg, #FF9966 0%, #FF5E62 100%);
    clip-path: polygon(50% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
    width: 100%;
}

.welcomeSectionPattern {
    padding-top: 80px;
    height: 100%;
    background-size: cover;
    background-image: url('../assets/images/iconPattern.png');
    width: 100%;
}

.WelcomeSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcomeTitle {
    margin-top: 48px;
    color: white;
}

.welcomeMsg {
    font-weight: 900;
    font-size: 25px;
    color: white;
}

.explainMsg {
    width: 100%;
    color: white;
    margin-top: 32px;
    /* max-width: 900px; */
}

.bold {
    font-weight: 900;

}

@media only screen and (min-width: 428px) {}

@media only screen and (min-width: 768px) {
    .welcomeSectionBackground {
        height: 600px;
    }
}