.welcomeSectionBackground {
    height: 600px;
    overflow: hidden;
    background: linear-gradient(90deg, #FF9966 0%, #FF5E62 100%);
    clip-path: polygon(50% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
}

.welcomeSectionPattern {
    padding-top: 80px;
    height: 100%;
    transform: rotate(5deg);
    background-size: cover;
    background-image: url('../assets/images/iconPattern.png');
}

.welcomeTitle {
    transform: rotate(-5deg);
    margin-top: 48px;
    color: white;
}

.welcomeMsg {
    transform: rotate(-5deg);
    font-weight: 900;
    font-size: 25px;
    color: white;
}

.explainMsg {
    transform: rotate(-5deg);
    color: white;
    margin-top: 32px;
}

@media only screen and (min-width: 428px) {}

@media only screen and (min-width: 768px) {
    .welcomeSectionBackground {
        height: 600px;
    }
}