.FullSizeNavMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
}

.navItem:hover{
    text-shadow: 1px 1px rgb(100, 100, 111);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.navItem {
    margin-right: 32px;
    color: black;
}

.navItem:visited{
    color: black;
}

.FullSizeNavMenu .MessageButton{
    font-size: 16px;
}