.footerSection {
    background: linear-gradient(90deg, #FF9966 0%, #FF5E62 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    clip-path: polygon(50% 10%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
}

.iconContainer {
    display: flex;
    flex-direction: row;
    margin: 8px;
}

.icon {
    color: white;
    font-size: 20px;
    height: 20px;
    width: 20px;
    margin: 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: solid;
    padding: 8px;
    border-color: white;
    border-width: 2px;
    border-radius: 100px;
}
.icon:hover {
    background-color: white;
    color: #FF5E62;
}

.footerTextContainer{
    display: flex;
    flex-direction: column;
}
.designByMsg {
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.designYear {
    font-weight: 500;
    font-size: 14px;
    color: white;
}

@media only screen and (min-width: 320px) {
    .footerSection {
        padding-bottom: 64px;
    }
}

@media only screen and (min-width: 430px) {
    .footerSection {
        padding-bottom: 0px;
    }
}

@media only screen and (min-width: 768px) {
}