.footerSection {
    /* background: linear-gradient(90deg, #FF9966 0%, #FF5E62 100%); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: #F5F5F7;
    padding-bottom: 96px;
    /* clip-path: polygon(50% 10%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0); */
}

.iconContainer {
    display: flex;
    flex-direction: row;
    margin: 8px;
}

.icon {
    color: black;
    font-size: 25px;
    height: 20px;
    width: 20px;
    margin: 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    opacity: 0.8;
}
.icon:hover {
    color: #363537b7;
    transition: .5s ease;
}

.footerTextContainer{
    display: flex;
    flex-direction: column;
}
.designByMsg {
    font-weight: 400;
    font-size: 16px;
    color: black;
    opacity: 0.8;
}

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 430px) {
}

@media only screen and (min-width: 768px) {
    .footerSection {
    padding-bottom: 48px;
    }
}